<!DOCTYPE html>
<html>
    <head>
        <title>Resposta usando template EJS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>O usuário <%= nome %> foi cadastrado com sucesso!</h1>
        <p>O email do usuário é <%= email %>.</p>
        <p>O telefone do usuário é <%= telefone %>.</p>
        <p>O nascimento do usuário é <%= nascimento %>.</p>

        <p>Método utilizado: <%= metodo %>  </p>

        <p> </p>
    </body>
</html>